*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #E80236;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}

img.img-thumbnail{
    width: 80%;
    height: 80%;    
}
